<?xml version='1.0' ?>
<config>
    <modules>
        <SM_ProductLabel>
            <version>0.1.2</version>
        </SM_ProductLabel>
    </modules>
    <frontend>
        <routers>
            <productlabel>
                <use>standard</use>
                <args>
                    <module>SM_ProductLabel</module>
                    <frontName>admin</frontName>
                </args>
            </productlabel>
        </routers>
        <layout>
            <updates>
                <sm_productlabel>
                    <file>sm/label.xml</file>
                </sm_productlabel>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <productlabel>
                <use>admin</use>
                <args>
                    <module>SM_ProductLabel</module>
                    <frontName>productlabel</frontName>
                </args>
            </productlabel>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sm_productlabel>
                    <file>sm/label.xml</file>
                </sm_productlabel>
            </updates>
        </layout>
        <menu>
            <sm>
                <title>SM</title>
                <sort_order>91</sort_order>
                <children>
                    <productlabel translte="title" module="productlabel">
                        <title>Mage Product Label</title>
                        <sort_order>3</sort_order>
                        <action>adminhtml/adminhtml_label</action>
                    </productlabel>
                </children>
            </sm>
        </menu>
    </adminhtml>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_list>SM_ProductLabel_Block_Product_List</product_list>
                </rewrite>
            </catalog>
            <label_product>
                <class>SM_ProductLabel_Block</class>
            </label_product>
        </blocks>
        <helpers>
            <productlabel>
                <class>SM_ProductLabel_Helper</class>
            </productlabel>
        </helpers>
        <models>
            <productlabel>
                <class>SM_ProductLabel_Model</class>
                <resourceModel>productlabel_resource</resourceModel>
            </productlabel>
            <productlabel_resource>
                <class>SM_ProductLabel_Model_Resource</class>
                <entities>
                    <productlabel>
                        <table>sm_product_label</table>
                    </productlabel>
                </entities>
            </productlabel_resource>
        </models>
        <resources>
            <sm_product_label_setup>
                <setup>
                    <module>SM_ProductLabel</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sm_product_label_setup>
            <sm_product_label_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sm_product_label_write>
            <sm_product_label_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sm_product_label_read>
        </resources>
    </global>
</config>