#pt_custommenu {
    position:relative;
    z-index:1000;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    border: 1px dashed #ffcac2;
}


 
.pt_custommenu div.popup {
    position:absolute;
    z-index:3000;
    display: none;
    background-color:#fff;
    text-align:left;
    width: 904px;
    padding: 30px 35px;
    border-top: 3px solid #ff7e6e;
}
div.pt_menu, .pt_custommenu div.popup {
}
div.pt_menu {
    float: left
}
div.pt_menu a, .pt_custommenu div.popup a {
    text-decoration: none;
    display:block;
}
.itemMenu h4.level1,
.itemMenu a.level1{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: normal;
    color: #666;
    /*color: #1E7EC8;*/
}
.itemMenu h4.level1,
.itemSubMenu h4.level2 span{
    color: #897725;
}


.pt_custommenu div.popup a.actParent {
    color: #4D4D4D;
}


div.column {
    float:left;
    width:200px; /* column width */
    margin-right: 25px;
    padding-right: 5px;
}
div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
div.itemSubMenu {
    margin-top: 15px;
}
.clearBoth {
    clear:both;
}
.block2{
    margin-top: 10px;
}
#popup_home{
    display: none !important;
}
.pt_custommenu div.popup .block1{
    overflow: hidden;
    /*display: inline-block;*/
    float: left;
    /*clear:both;*/
    padding-bottom: 30px; border-bottom: 1px solid #eee;
}
.pt_custommenu div.popup .block1:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
.pt_custommenu div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
/*show right block*/
.pt_custommenu div.popup .floatleft{
    float: left;
}
.pt_custommenu div.popup .block1.floatleft{
    /*width: 650px;*/
}
.pt_custommenu div.popup .block2.floatleft{
    /*width: 250px;*/
}
.pt_custommenu div.popup .blockright img{
    max-width: 100%;
} 



div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
#pt_menu_link .parentMenu { float: left; background: none; padding: 0;}
#pt_menu_link .parentMenu ul li{
    float: left;
    list-style: none;
    padding: 6px 0;
}
#pt_menu_link .parentMenu ul li:hover { background: #ff6b6b;}
#pt_menu_link .parentMenu ul li:hover a { border-color: #ff6b6b; }
#pt_menu_link .parentMenu ul li a{
    float: left;
    display: block;
}
#pt_menu_link{
    padding: 0;
}
.block2{
/*    display: inline;*/
    float: left;
    /*clear:both;*/
}
.static-menu-img {
}
