.ma-fancyproduct {
    padding: 0;
}
.ma-fancyproduct-title {

}
.ma-fancyproduct ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position:relative;
}
.ma-fancyproduct li {
    overflow: hidden;
    padding: 14px 0;
}
.ma-fancyproduct .product-name {}
.ma-fancyproduct .product-name a {}
.ma-fancyproduct .price {}
.ma-fancyproduct .product-image {
    display: block;
}
.ma-fancyproduct li img {
    float:left;
    margin-right:8px;
}

.ma-fancyproduct .spyWrapper {
    height: 302px !important;
    overflow: hidden;
    position: relative;
}
.ma-fancyproduct .ma-desc {}
.ma-fancyproduct .fancy-col1 {
    float: left;
    width: 45%;
}
.ma-fancyproduct .fancy-col2 {
    float: right;
    width: 50%;
    text-align: left;
}


@media (max-width: 767px) {
   .ma-fancyproduct li img { width: 100%} 
}