.jcarousel-skin-tango .jcarousel-container {
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width:950px;
    padding:0px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  950px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 234px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 5px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-next-horizontal, .jcarousel-prev-horizontal  {
	float:left;
	margin:4px 2px 0;
	width: 22px;
    height: 22px;
    cursor: pointer;
    background: #e9e9e9 url('../images/arrow_next.png') no-repeat 0% 0%;
}
.jcarousel-prev-horizontal {margin-left: 20px; background: #e9e9e9 url('../images/arrow_back.png') no-repeat 0% 0%;}
.jcarousel-next-horizontal:hover,
.jcarousel-prev-horizontal:hover { background-color:#453E3C; background-position: 0% 100%;}