<?xml version="1.0"?>
<config>
    <modules>
        <SM_FeaturedProduct>
            <version>0.1.0</version>
        </SM_FeaturedProduct>
    </modules>
    <frontend>
        <routers>
            <featured_product>
                <use>standard</use>
                <args>
                    <module>SM_FeaturedProduct</module>
                    <frontName>featuredProduct</frontName>
                </args>
            </featured_product>
        </routers>
        <layout>
            <updates>
                <featured_product>
                    <file>sm/featuredProduct.xml</file>
                </featured_product>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <featured_product>
                <class>SM_FeaturedProduct_Block</class>
            </featured_product>
        </blocks>
        <helpers>
            <featured_product>
                <class>SM_FeaturedProduct_Helper</class>
            </featured_product>
        </helpers>
        <models>
            <featured_product>
                <class>SM_FeaturedProduct_Model</class>
                <resourceModel>featured_product_resource</resourceModel>
            </featured_product>
            <featured_product_resource>
                <class>SM_FeaturedProduct_Model_Resource</class>
            </featured_product_resource>
        </models>
        <resources>
            <featured_product_setup>
                <setup>
                    <module>SM_FeaturedProduct</module>

                </setup>

                <connection>
                    <use>core_setup</use>
                </connection>
            </featured_product_setup>

            <featured_product_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featured_product_write>
            <featured_product_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featured_product_read>
        </resources>
    </global>
</config>