<?xml version="1.0"?>
<config>
    <modules>
        <SM_BestSeller>
            <version>0.1.0</version>
        </SM_BestSeller>
    </modules>
    <frontend>
        <routers>
            <bestseller_product>
                <use>standard</use>
                <args>
                    <module>SM_BestSeller</module>
                    <frontName>featuredProduct</frontName>
                </args>
            </bestseller_product>
        </routers>
        <layout>
            <updates>
                <bestseller_product>
                    <file>sm/bestseller.xml</file>
                </bestseller_product>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <bestseller_product>
                <class>SM_BestSeller_Block</class>
            </bestseller_product>
        </blocks>
        <helpers>
            <bestseller_product>
                <class>SM_BestSeller_Helper</class>
            </bestseller_product>
        </helpers>
    </global>
</config>