<!--<?xml version="1.0"?>-->
<!--<config>-->

    <!--<sections>-->
        <!--<feature translate="label" module="sm_slider">-->
            <!--<label>Featured Product </label>-->
            <!--<tab>sm_slider</tab>-->
            <!--<frontend_type>text</frontend_type>-->
            <!--<sort_order>1000</sort_order>-->
            <!--<show_in_default>1</show_in_default>-->
            <!--<show_in_website>1</show_in_website>-->
            <!--<show_in_store>1</show_in_store>-->
            <!--<groups>-->
                <!--<config translate="label">-->
                    <!--<label>Featured Product Config</label>-->
                    <!--<frontend_type>text</frontend_type>-->
                    <!--<sort_order>1</sort_order>-->
                    <!--<show_in_default>1</show_in_default>-->
                    <!--<show_in_website>1</show_in_website>-->
                    <!--<show_in_store>1</show_in_store>-->
                    <!--<fields>-->
                        <!--&lt;!&ndash; New fields go here &ndash;&gt;-->
                        <!--<loop translate="label comment">-->
                            <!--<label>Slide Per View</label>-->
                            <!--<comment>-->
                                <!--<![CDATA[This text appears just beneath the field with a small arrow.-->
                <!--<span class="notice">It can contain HTML formatting too!</span>]]>-->
                            <!--</comment>-->
                            <!--<frontend_type>text</frontend_type>-->

                            <!--<sort_order>10</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<show_in_website>1</show_in_website>-->
                            <!--<show_in_store>1</show_in_store>-->
                        <!--</loop>-->

                        <!--&lt;!&ndash; New fields go here &ndash;&gt;-->
                        <!--<autoplay translate="label comment">-->
                            <!--<label>Slider Auto Play Time</label>-->
                            <!--<comment>-->
                                <!--<![CDATA[Choose slider will show in frontend.-->
                <!--<span class="notice">It can contain HTML formatting too!</span>]]>-->
                            <!--</comment>-->
                            <!--<frontend_type>text</frontend_type>-->

                            <!--<sort_order>10</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<show_in_website>1</show_in_website>-->
                            <!--<show_in_store>1</show_in_store>-->
                        <!--</autoplay>-->
                    <!--</fields>-->
                <!--</config>-->
            <!--</groups>-->
        <!--</feature>-->
    <!--</sections>-->
<!--</config>-->

